{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/style2.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"
        integrity="sha512-SGWgwwRA8xZgEoKiex3UubkSkV1zSE1BS6O4pXcaxcNtUlQsOmOmhVnDwIvqGRfEmuz83tIGL13cXMZn6upPyg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <title>EV Charging</title>
</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar" class="hide">
        <a href="{% url 'home' %}" class="brand">
            <img class="oi-icon"
                src="https://media-exp1.licdn.com/dms/image/C560BAQEAPjKix24H5A/company-logo_200_200/0/1574388135440?e=1672272000&v=beta&t=SBjMJWO6LihSvjdzM88Lvk15riwX8TkLhz_SNQhDWDw"
                alt="Operational Interlligence">
            <span class="text">Operational Intelligence</span>
        </a>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content" style="background-color: white;">
        <!-- NAVBAR -->
        <nav style="height: 52px;">
            <a href="#" class="nav-link">EV Charging</a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main id="TCD">
            <div id="thermalComfortDashboard">
                <!-- Heading -->
                <div class="headings">
                    <p>
                        EV Charging
                    </p>
                    <p>
                        <span>

                        </span>
                        <span class="dashboard">
                            Dashboard
                        </span>
                    </p>
                </div>
                <!-- Heading -->

                <!-- TCD Main Content -->
                <div class="EVChargingMain" style="margin-top: 2rem;">
                    <div class="EVC_gauge" style="align-content: center;">
                        <div id="EVCgauge" class="belowButton">
                            <div id="EVgauge"></div>
                            <button id="center-circle" style="border:none;" class='btn gaugeBelowClick'
                                data-toggle="modal" data-target="#myModal" label='below'>
                                <span id="belowAvg" class="TCDgaugeValue">11 $</span>
                            </button>
                            <div class="modal" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content"
                                        style="min-width:30vw;border-radius:20px;padding:5px 5px;">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Consumption</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body" style="max-height:50vh; overflow-y:auto;">
                                            <table class="table table-striped" id="table">
                                                <thead>
                                                    <tr>
                                                        <th>Equipment</th>
                                                        <th>Consumption</th>
                                                    </tr>
                                                </thead>
                                                <tbody id='dialog-tbody'>
                                                    <tr>
                                                        <td> Please wait....</td>
                                                        <td> <i class="bx bx-loader-alt bx-spin"></i> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="EVC_graph">
                        <div style="display: flex; margin-bottom:3rem;">
                            <div>
                                <label for="startDate" style="font-family: Lato, sans-serif;">Start Date:</label>
                                <input type="datetime-local" id="startDate" name="Start Date" style="width: 200px;"
                                    value="2022-08-28 00:00:00">
                            </div>
                            <div>
                                <label for="ebdDate" style="font-family: Lato, sans-serif;">End Date:</label>
                                <input type="datetime-local" id="endDate" name="End Date" style="width: 200px;" value="2022-09-28 00:00:00">
                            </div>
                            <div style="margin-right: 10px; margin-left:auto;" class="graphButtons">
                                <button type="button" class="btn">Today</button>
                            </div>
                            <div style="margin-right: 10px;" class="graphButtons">
                                <button type="button" class="btn">Weekly</button>
                            </div>
                            <div style="margin-right: 10px; margin-left:auto;" class="graphButtons">
                                <button type="button" class="btn">Monthly</button>
                            </div>
                            <div style="margin-right: 10px;" class="graphButtons">
                                <button type="button" class="btn">Yearly</button>
                            </div>
                            <div class="vertical" style="margin-right: 10px; 
                                                                border-left: 2px solid black; 
                                                                height:32px;
                                                                "></div>
                            <div class="graphButtons">
                                <button type="button" class="btn"
                                    onclick="document.getElementById('link').click()">Report</button>
                                <a id="link" href="{% static 'admin/file/Report.xlsx' %}" download hidden></a>
                            </div>
                        </div>
                        <div>
                            <canvas id="nabersGraph"></canvas>
                        </div>
                    </div>

                </div>


                <!-- TCD Main Content -->
            </div>
            <div id="thermalComfortSideBar">
                <div class="heading">
                    <h4>
                        Monitoring
                    </h4>
                </div>
                <div class="EVChargingSideBar">
                    <div class="EVSelection">
                        <div
                            style="display:flex;align-items: center;justify-content: flex-start;align-content: center;flex-direction: row;">
                            <a class='bx bxs-zap bx-lg' style="--main-color: #ffcf40; text-decoration:none;"
                                href="{% url 'evCharging' %}"></a>
                            <div style="margin-left:20px;" class="selectionLabel">
                                <p class="active">
                                    Energy Per Charge
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="EVSelection">
                        <div class="active"
                            style="display:flex;align-items: center;justify-content: flex-start;align-content: center;flex-direction: row;">
                            <a class='bx bx-dollar-circle bx-lg' style="--main-color: #54B127; text-decoration:none;"
                                href="{% url 'EV_CPC' %}"></a>
                            <div style="margin-left:20px;" class="selectionLabel">
                                <p>
                                    Cost Per Charge
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="EVSelection">
                        <div
                            style="display:flex;align-items: center;justify-content: flex-start;align-content: center;flex-direction: row;">
                            <a class='bx bxl-tailwind-css bx-lg' style="--main-color: #08A4C3; text-decoration:none;"
                                href="{% url 'EV_AEPC' %}"></a>
                            <div style="margin-left:20px;" class="selectionLabel">
                                <p>
                                    Avg Energy Per Charge
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="EVSelection">
                        <div
                            style="display:flex;align-items: center;justify-content: flex-start;align-content: center;flex-direction: row;">
                            <a class='bx bx-leaf bx-lg' style="--main-color: #3D6A52; text-decoration:none;"
                                href="{% url 'EV_ER' %}"></a>
                            <div style="margin-left:20px;" class="selectionLabel">
                                <p>
                                    Emission Reduction
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->


    <script src="{% static 'admin/js/script.js' %}"></script>
    <script>
        
        const gaug = Highcharts.chart('EVgauge', {
            chart: { type: 'solidgauge', backgroundColor: '#FAFAFA', spacingTop:20, verticalAlign: 'middle'
                    },
            tooltip: {
                borderWidth: 0,
                backgroundColor: 'none',
                shadow: false,
                style: { fontSize: '16px' },
                pointFormat: '{series.name}<br><span style="font-size:24px; color: {point.color}; font-weight: bold; text-align: center">{point.y}$</span>',
                positioner: function (labelWidth, labelHeight) {
                    return {
                        x: 205 - labelWidth / 2,
                        y: 265
                    };
                }
            },

            pane: [{
                startAngle: -140,
                endAngle: 140,
                background: [{ // Track for Move
                    outerRadius: '85%',
                    innerRadius: '70%',
                    backgroundColor: '#F1F0F5',
                    borderWidth: 0,
                    shape: 'arc'
                }, { // Track for Stand
                    outerRadius: '70%',
                    innerRadius: '0%',
                    backgroundColor: '#FAFAFA',
                    borderWidth: 0,
                    shape: 'arc'
                }]
            }, {
                startAngle: -140,
                endAngle: 140,
                size: '100%',
                background: []
            }],
            credits: {
                enabled: false
            },
            yAxis: [{
                min: 0,
                max: 15,
                tickAmount:7,
                lineWidth: 0,
                tickLength: 10,
                tickWidth: 3,
                tickColor: 'black',
                tickPosition: 'inside',
                minorTickLength: 10,
                labels: {
                    distance: 28,
                    enabled: true,
                    x: 0,
                    y: 0,
                    format: '{value}$',
                    style: {
                        fontSize: 13,
                        fontFamily: "sans-serif"
                    }
                }

            }],
            title: {
                text: '',
            },

            plotOptions: {
                solidgauge: {
                    borderWidth: '18px',
                    dataLabels: {
                        enabled: false
                    },
                    linecap: 'round',
                    stickyTracking: false,
                }
            },

            series: [{
                name: 'Cost',
                animation: false,
                borderColor: {
                    linearGradient: { x1: 0, x2: 1, y1: 0, y2: 0 },
                    stops: [
                        [0, '#a4fba6'],
                        [0.25, '#4ae54a'],
                        [0.5, '#30cb00'],
                        [0.75, '#0f9200'],
                        [1, '#006203'],
                    ]
                },
                data: [{
                    color: {
                        linearGradient: { x1: 0, x2: 1, y1: 0, y2: 1 },
                        stops: [
                        [0, '#a4fba6'],
                        [0.25, '#4ae54a'],
                        [0.5, '#30cb00'],
                        [0.75, '#0f9200'],
                        [1, '#006203'],
                        ]
                    },
                    radius: '80%',
                    innerRadius: '80%',
                    y: 11
                }]
            },
            ]
        });
        var nabersGraph = document.getElementById('nabersGraph').getContext('2d');
        var chartConfig = {
            type: 'bar',
            data: {
                labels: ['January', 'Feburary', 'March', 'April', 'May', 'June',
                    'July', 'Augest', 'September', 'October', 'November', 'December'],
                datasets: [{
                    label: 'Cost',
                    data: [10, 8, 11, 10, 10, 10.5, 11.5, 8.8, 9.1, 9.5, 0, 0],
                    borderWidth: 1,
                    borderColor: '#a4fba6',
                    backgroundColor: "#a4fba6",
                    tension: 1,
                    borderRadius: 8,
                    type: 'bar',
                    order: 1
                }],

            },
            chart: {
                height: '500px'
            },
            options: {
                plugins: {
                    legend: {
                        display: true,
                    }
                },
                scales: {

                    y: {
                        beginAtZero: true,
                        grid: {
                            display: false,
                            drawBorder: true,
                            drawTicks: true,
                        },
                        ticks: {
                            display: true,
                            callback: function (value, index, ticks) { return value + '$'; }
                        }
                    },
                    x: {
                        type: 'category',
                        grid: {
                            display: false,
                            drawBorder: true,
                            drawTicks: true,
                        }
                    },
                },
                responsive: true,
            }

        };
        var Chart1 = new Chart(nabersGraph, chartConfig);
        
    </script>
</body>

</html>