{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"
        integrity="sha512-SGWgwwRA8xZgEoKiex3UubkSkV1zSE1BS6O4pXcaxcNtUlQsOmOmhVnDwIvqGRfEmuz83tIGL13cXMZn6upPyg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dashboard</title>
</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar" class="hide hidden">
        <a href="{% url 'home' %}" class="brand">
            <img class="oi-icon"
                src="https://media-exp1.licdn.com/dms/image/C560BAQEAPjKix24H5A/company-logo_200_200/0/1574388135440?e=1672272000&v=beta&t=SBjMJWO6LihSvjdzM88Lvk15riwX8TkLhz_SNQhDWDw"
                alt="Operational Interlligence">
            <span class="text">Operational Intelligence</span>
        </a>
        <ul
            style="display: flex; flex-direction: column; align-content: flex-end; flex-wrap: nowrap; justify-content: center; align-items: center;">
            <li
                style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #FF7F7F; --selectionColorBG: #ff7f7f83;">
                <a href="{% url 'ems'%}" class='bx bxs-dashboard bx-md' title="Electric Meter Dashboard"
                    style="margin-top: 5px;"></a>
            </li>
            <li
                style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #FFE493; --selectionColorBG: #FFE49383; ">
                <a href="{% url 'thermalComfort'%}" style="margin-top: 5px;" class='bx bxs-thermometer bx-md'
                    title="Thermal Comfort"></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #D2EB99; --selectionColorBG: #D2EB9983; "
                title="Carpark">
                <a href="{% url 'carPark' %}" style="margin-top: 5px;" class='bx bxs-car-garage bx-md'></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #7EB6E0; --selectionColorBG: #7EB6E083; "
                title="EV Charging">
                <a href="{% url 'evCharging' %}" style="margin-top: 5px;" class='bx bxs-ev-station bx-md'></a>
            </li>
            <li class="active"
                style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #D7FEFF; --selectionColorBG: #D7FEFF83; "
                title="Weather Station">
                <a href="{% url 'weather' %}" style="margin-top: 5px;" class='bx bx-cloud-snow bx-md'></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #3C91E6; --selectionColorBG: #3C91E683; "
                title="EOTF">
                <a href="{% url 'eotf' %}" style="margin-top: 5px;" class='bx bx-notepad bx-md'></a>
            </li>

            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #b2585e; --selectionColorBG: #b2585e83; "
                title="Traffic">
                <a href="{% url 'traffic' %}" style="margin-top: 5px;" class='bx bxs-traffic-barrier bx-md'></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #e6913c; --selectionColorBG: #e6913c83; "
                title="IBMS">
                <a href="https://obsi.sydney/Apps/IBMS/rtsystem.json?key=5227" target="_blank" style="margin-top: 5px;"
                    class='bx bx-line-chart bx-md'></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #3ce691; --selectionColorBG: #3ce69183; "
                title="Card Holders">
                <a href="https://obsi.sydney/Apps/AccessCard/cardholders" target="_blank" style="margin-top: 5px;"
                    class='bx bx-id-card bx-md'></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #e63c91; --selectionColorBG: #e63c9183; "
                title="Reports">
                <a href="https://obsi.sydney/Apps/CrystalReportsConnector/dashboard" target="_blank"
                    style="margin-top: 5px;" class='bx bx-bar-chart-alt-2 bx-md'></a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->


    <!-- CONTENT -->
    <section id="content" style="background-color: white;">
        <!-- NAVBAR -->

        <!-- NAVBAR -->

        <!-- MAIN -->
        <main id="mainBG">
            <div class="container-sm">
                <div class="p-4"></div>
                <h1 style="color: #3B3462; font-size:4rem; text-align:middle;"
                    class="pt-5 text-center fw-normal homeHeading">
                    Welcome To</h1>
                <h1 style="color: #3B3462; font-size:4rem; text-align:middle;" class="pb-5 text-center homeHeading">OI
                    Dashboards
                </h1>
                <div class="row g-3 d-sm-flex justify-content-center align-items-center p-4 homeBody">
                    <div class="col-sm-4" style="height:100%;" onclick="showEmsModel()" onmouseover="changeBG('ems')"
                        onmouseout="changeBGNormal()">
                        <div class="p-3 homeBox" style="--homeBoxBg: #d7e9ff;">
                            <div class="homeText">
                                <p class="fs-2 fw-bold mb-0 pb-0">EMS</p>
                                <p class="fs-5 fw-normal mb-0 pb-0">Dashboard</p>
                            </div>
                            <div>
                                <img class="homeBoxImg"
                                    src="https://img.icons8.com/external-icongeek26-flat-icongeek26/65/null/external-electric-meter-measurement-icongeek26-flat-icongeek26.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="height:100%;" onclick="showThermalModel()"
                        onmouseover="changeBG('thermal')" onmouseout="changeBGNormal()">
                        <div class="p-3 homeBox" style="--homeBoxBg: #fee3da;">
                            <div class="homeText">
                                <p class="fs-2 fw-bold mb-0 pb-0">Thermal</p>
                                <p class="fs-5 fw-normal mb-0 pb-0">Dashboard</p>
                            </div>
                            <div>
                                <img class="homeBoxImg" src="https://img.icons8.com/color/65/null/water-heater.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="height:100%;" onmouseover="changeBG('carpark')"
                        onmouseout="changeBGNormal()" onclick="carpark()">
                        <div class="p-3 homeBox" style="--homeBoxBg: #adf4f6;">
                            <div class="homeText">
                                <p class="fs-2 fw-bold mb-0 pb-0">Carpark</p>
                                <p class="fs-5 fw-normal mb-0 pb-0">Dashboard</p>
                            </div>
                            <div>
                                <img class="homeBoxImg"
                                    src="https://img.icons8.com/external-soft-fill-juicy-fish/65/null/external-car-maps-and-navigation-soft-fill-soft-fill-juicy-fish-3.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="height:100%;" onmouseover="changeBG('ev')"
                        onmouseout="changeBGNormal()" onclick="ev()">
                        <div class="p-3 homeBox" style="--homeBoxBg: #fff8e6;">
                            <div class="homeText">
                                <p class="fs-2 fw-bold mb-0 pb-0">EV</p>
                                <p class="fs-5 fw-normal mb-0 pb-0">Dashboard</p>
                            </div>
                            <div>
                                <img class="homeBoxImg" src="https://img.icons8.com/color/65/null/car-charger.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="height:100%;" onmouseover="changeBG('weather')"
                        onmouseout="changeBGNormal()" onclick="weather()">
                        <div class="p-3 homeBox" style="--homeBoxBg: #fae4cc;">
                            <div class="homeText">
                                <p class="fs-2 fw-bold mb-0 pb-0">Weather</p>
                                <p class="fs-5 fw-normal mb-0 pb-0">Dashboard</p>
                            </div>
                            <div>
                                <img class="homeBoxImg"
                                    src="https://img.icons8.com/fluency/65/null/cloud-lighting.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="height:100%;" onmouseover="changeBG('eotf')"
                        onmouseout="changeBGNormal()" onclick="eotf">
                        <div class="p-3 homeBox" style="--homeBoxBg: #d5c9c2;">
                            <div class="homeText">
                                <p class="fs-2 fw-bold mb-0 pb-0">EOTF</p>
                                <p class="fs-5 fw-normal mb-0 pb-0">Dashboard</p>
                            </div>
                            <div>
                                <img class="homeBoxImg"
                                    src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/65/null/external-members-agile-flaticons-lineal-color-flat-icons.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="height:100%;" onmouseover="changeBG('traffic')"
                        onmouseout="changeBGNormal()" onclick="traffic()">
                        <div class="p-3 homeBox" style="--homeBoxBg: #d1f4e1;">
                            <div class="homeText">
                                <p class="fs-2 fw-bold mb-0 pb-0">Traffic</p>
                                <p class="fs-5 fw-normal mb-0 pb-0">Dashboard</p>
                            </div>
                            <div>
                                <img class="homeBoxImg"
                                    src="https://img.icons8.com/fluency/65/null/traffic-light.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="height:100%;" onmouseover="changeBG('tree')"
                        onmouseout="changeBGNormal()" onclick="traffic()">
                        <div class="p-3 homeBox" style="--homeBoxBg: #b8d3f6;">
                            <div class="homeText">
                                <p class="fs-2 fw-bold mb-0 pb-0">Meter Tree</p>
                                <p class="fs-5 fw-normal mb-0 pb-0">Dashboard</p>
                            </div>
                            <div>
                                <img class="homeBoxImg"
                                    src="https://img.icons8.com/office/65/null/genealogy.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade mt-5" id="EMSModel" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true" onmouseover="changeBG('ems')"
                    onmouseout="changeBGNormal()">
                    <div class="modal-dialog modal-dialog-centered w-90" role="document">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center">
                                <h5 class="modal-title text-center fs-2 fw-bold" style="color: #3B3462;">Energy
                                    Mangement System</h5>
                            </div>
                            <div class="modal-body row g-4 justify-content-center">
                                <div class="col-sm-6" style="height:100%;" onclick="ems()">
                                    <div class="p-3 homeBox modelBox" style="--homeBoxBg: #d7e9ff;">
                                        <div class="homeText">
                                            <p class="fs-3 fw-bold mb-0 pb-0">Electric</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:100%;" onclick="ems()">
                                    <div class="p-3 homeBox modelBox" style="--homeBoxBg: #d7e9ff;">
                                        <div class="homeText">
                                            <p class="fs-3 fw-bold mb-0 pb-0">Water</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:100%;" onclick="ems()">
                                    <div class="p-3 homeBox modelBox" style="--homeBoxBg: #d7e9ff;">
                                        <div class="homeText">
                                            <p class="fs-3 fw-bold mb-0 pb-0">Gas</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:100%;" onclick="ems()">
                                    <div class="p-3 homeBox modelBox" style="--homeBoxBg: #d7e9ff;">
                                        <div class="homeText">
                                            <p class="fs-3 fw-bold mb-0 pb-0">Thermal</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade mt-5" id="THERMALModel" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true" onmouseover="changeBG('thermal')"
                    onmouseout="changeBGNormal()">
                    <div class="modal-dialog modal-dialog-centered w-90" role="document">
                        <div class="modal-content justify-content-center">
                            <div class="modal-header justify-content-center">
                                <h5 class="modal-title text-center fs-2 fw-bold" style="color: #3B3462;">Thermal Comfort
                                </h5>
                            </div>
                            <div class="modal-body row g-4 justify-content-center">
                                <div class="col-sm-6" style="height:100%;" onclick="thermal()">
                                    <div class="p-3 homeBox modelBox" style="--homeBoxBg: #fee3da;">
                                        <div class="homeText">
                                            <p class="fs-3 fw-bold mb-0 pb-0">Temperature</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:100%;" onclick="thermal()">
                                    <div class="p-3 homeBox modelBox" style="--homeBoxBg: #fee3da;">
                                        <div class="homeText">
                                            <p class="fs-3 fw-bold mb-0 pb-0">Humidity</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:100%;" onclick="thermal()">
                                    <div class="p-3 homeBox modelBox" style="--homeBoxBg: #fee3da;">
                                        <div class="homeText">
                                            <p class="fs-3 fw-bold mb-0 pb-0">CO2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <footer class="homefooter"
                style="position: fixed;bottom:0;width:100%;display:flex;align-items: center;justify-content: center;align-content: center;flex-wrap: wrap;">
                <p class="fs-6" style="color: #3B3462;">© Powered By Operational Intelligence</p>
            </footer>
        </main>

        <!-- MAIN -->
    </section>
    <!-- CONTENT -->




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        document.getElementById("mainBG").style.backgroundImage = 'url("{% static '/admin/img/bg.svg' %}")';
        function changeBG(bg) {
            if (bg == 'ems') {
                document.getElementById("mainBG").style.backgroundImage = 'url("{% static '/admin/img/ems.svg' %}")';
            }
            else if (bg == 'thermal'){
                document.getElementById("mainBG").style.backgroundImage = 'url("{% static '/admin/img/thermal.svg' %}")';
            }
            else if (bg == 'carpark'){
                document.getElementById("mainBG").style.backgroundImage = 'url("{% static '/admin/img/carpark.svg' %}")';
            }
            else if (bg == 'ev'){
                document.getElementById("mainBG").style.backgroundImage = 'url("{% static '/admin/img/ev.svg' %}")';
            }
            else if (bg == 'weather'){
                document.getElementById("mainBG").style.backgroundImage = 'url("{% static '/admin/img/weather.svg' %}")';
            }
            else if (bg == 'eotf'){
                document.getElementById("mainBG").style.backgroundImage = 'url("{% static '/admin/img/eotf.svg' %}")';
            }
            else if (bg == 'traffic'){
                document.getElementById("mainBG").style.backgroundImage = 'url("{% static '/admin/img/traffic.svg' %}")';
            }
            else if (bg == 'tree'){
                document.getElementById("mainBG").style.backgroundImage = 'url("{% static '/admin/img/tree.svg' %}")';
            }

        }
        function changeBGNormal() {
            document.getElementById("mainBG").style.backgroundImage = 'url("{% static '/admin/img/bg.svg' %}")';
        }
        function showEmsModel() {
            $('#EMSModel').modal('toggle')
        }
        function showThermalModel() {
            $('#THERMALModel').modal('toggle')
        }
        function ems() { window.location.href = "{% url 'ems' %}"; };
        function thermalT() { window.location.href = "{% url 'thermalComfort' %}"; };
        function thermalH() { window.location.href = "{% url 'thermalComfortHumidity' %}"; };
        function thermalC() { window.location.href = "{% url 'thermalComfortCo2' %}"; };
        function carpark() { window.location.href = "{% url 'carPark' %}"; };
        function ev() { window.location.href = "{% url 'evCharging' %}"; };
        function weather() { window.location.href = "{% url 'weather' %}"; };
        function eotf() { window.location.href = "{% url 'eotf' %}"; };
        function traffic() { window.location.href = "{% url 'traffic' %}"; };
        function tree() { window.location.href = "{% url 'tree' %}"; };
    </script>

</body>

</html>