{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/style2.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"
        integrity="sha512-SGWgwwRA8xZgEoKiex3UubkSkV1zSE1BS6O4pXcaxcNtUlQsOmOmhVnDwIvqGRfEmuz83tIGL13cXMZn6upPyg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.js"></script>
    <title>Thermal Comfort</title>
</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar" class="hide">
        <a href="#" class="brand">
            <img class="oi-icon"
                src="https://media-exp1.licdn.com/dms/image/C560BAQEAPjKix24H5A/company-logo_200_200/0/1574388135440?e=1672272000&v=beta&t=SBjMJWO6LihSvjdzM88Lvk15riwX8TkLhz_SNQhDWDw"
                alt="Operational Interlligence">
            <span class="text">Operational Intelligence</span>
        </a>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content" style="background-color: rgb(255, 255, 255);">
        <!-- NAVBAR -->
        <nav style="height: 52px;">
            <a href="#" class="nav-link"></a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main id="Log">
            <div id="CarParkDashboard">
                <!-- Heading -->
                <div class="headings" >
                    <p style="text-align: center; margin-bottom:2rem; font-size:2rem; margin-top:5rem">
                        Welcome to OBSI International Towers
                    </p>
                </div>
                
                <!-- Heading -->

                <!-- LogIn -->
                <div id="LogInFrom" style="height: 75vh; text-align:center;" aria-valuemax="1" style="font-family: sans-serif; font-size: 1.2rem; align-content: center;">

                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" style="border: none;">Log In</button>
                    </form>
                </div>
                
            </div>
            
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->


    
</body>

</html>