{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/style2.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"
        integrity="sha512-SGWgwwRA8xZgEoKiex3UubkSkV1zSE1BS6O4pXcaxcNtUlQsOmOmhVnDwIvqGRfEmuz83tIGL13cXMZn6upPyg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.js"></script>
    <title>NABERS Tracking</title>
</head>

<body onload="zoom()">


    <!-- SIDEBAR -->
    <section id="sidebar" class="hide">
        <a href="{% url 'home' %}" class="brand">
            <img class="oi-icon"
                src="https://media-exp1.licdn.com/dms/image/C560BAQEAPjKix24H5A/company-logo_200_200/0/1574388135440?e=1672272000&v=beta&t=SBjMJWO6LihSvjdzM88Lvk15riwX8TkLhz_SNQhDWDw"
                alt="Operational Interlligence">
            <span class="text">Operational Intelligence</span>
        </a>

    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content" style="background-color: white;">
        <!-- NAVBAR -->
        <nav style="height: 52px;">
            <a href="#" class="nav-link" style="font-size: 1.3rem; font-weight:650;">Estimated Nabers Tracking</a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main id="NABER">
            <!-- #region Heading of the Nabers page-->
            <div class="NABERheading">
                <p class="mainHeading">PS-B-ELE-L03-EM001</p>
                <p class="subHeading">Estimated NABERS Tracking</p>
            </div>
            <!-- #endregion End opf heading of the Nabers page-->

            <!-- #region Body of the Nabers page-->
            <div class="NABERbody">
                <div class="graph">
                    <div style="display: flex; margin-bottom:3rem;">
                        <div style="margin-right: 20px; margin-left:auto;" class="graphButtons">
                            <button type="button" class="btn btn-outline-primary">Monthly</button>
                        </div>
                        <div style="margin-right: 20px;" class="graphButtons">
                            <button type="button" class="btn btn-outline-primary">Yearly</button>
                        </div>
                    </div>
                    <div>
                        <canvas id="nabersGraph"></canvas>
                    </div>
                </div>
            </div>
            <!-- #endregion End opf Body of the Nabers page-->
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->


    <script src="{% static 'admin/js/script.js' %}"></script>
    <script>
        function zoom() {document.body.style.zoom = "90%" }
        var nabersGraph = document.getElementById('nabersGraph').getContext('2d');
        var chartConfig = {
            type: 'bar',
            data: {
                labels: ['January', 'Feburary', 'March', 'April', 'May', 'June',
                    'July', 'Augest', 'September', 'October', 'November', 'December'],
                datasets: [{
                    label: 'Consumption',
                    data: [490, 490, 470, 420, 420, 280, 290, 320, 230, 220, 0, 0],
                    borderWidth: 1,
                    borderColor: '#8AC3EE',
                    backgroundColor: "#8AC3EE",
                    tension: 1,
                    borderRadius: 8,
                    type: 'bar',
                    order: 1
                },
                {
                    label: '6.0',
                    data: [400, 370, 320, 290, 250, 220, 215, 220, 210, 210],
                    borderWidth: 2,
                    borderColor: '#D9C4D7',
                    backgroundColor: "#D9C4D7",
                    tension: 0.5,
                    borderRadius: 8,
                    type: 'line'
                },
                {
                    label: '5.5',
                    data: [500, 460, 410, 360, 320, 300, 295, 300, 290, 290],
                    borderWidth: 2,
                    borderColor: '#52A98C',
                    backgroundColor: "#52A98C",
                    tension: 0.5,
                    borderRadius: 8,
                    type: 'line'
                },
                {
                    label: '5.0',
                    data: [600, 550, 500, 430, 380, 350, 345, 350, 340, 340],
                    borderWidth: 2,
                    borderColor: '#8785C7',
                    backgroundColor: "#8785C7",
                    tension: 0.5,
                    borderRadius: 8,
                    type: 'line'
                },
                {
                    label: '4.5',
                    data: [800, 750, 650, 560, 505, 490, 485, 490, 480, 480],
                    borderWidth: 2,
                    borderColor: '#C6D9E3',
                    backgroundColor: "#C6D9E3",
                    tension: 0.4,
                    borderRadius: 8,
                    type: 'line'
                }],

            },
            options: {
                plugins: {
                    legend: {
                        display: true,
                    }
                },
                scales: {

                    y: {
                        beginAtZero: true,
                        grid: {
                            display: false,
                            drawBorder: true,
                            drawTicks: true,
                        },
                        ticks: {
                            display: true,
                            callback: function (value, index, ticks) { return value + 'kWh'; }
                        }
                    },
                    x: {
                        type: 'category',
                        grid: {
                            display: false,
                            drawBorder: true,
                            drawTicks: true,
                        }
                    },
                },
                responsive: true,
            }

        };
        var Chart1 = new Chart(nabersGraph, chartConfig);
        const gauge1 = Highcharts.chart('nabersGauge', {
            chart: { type: 'solidgauge', backgroundColor: '#FFFFFF', },
            tooltip: {
                borderWidth: 0,
                backgroundColor: 'none',
                shadow: false,
                style: { fontSize: '10px' },
                pointFormat: '<span style="font-size:18px; color: {point.color}; font-weight: bold; text-align: center">{point.y} kWh</span>',
                positioner: function (labelWidth, labelHeight) {
                    return {
                        x: 90 - labelWidth / 2,
                        y: 148
                    };
                }
            },

            pane: [{
                startAngle: -140,
                endAngle: 140,
                background: [{ // Track for Move
                    outerRadius: '118%',
                    innerRadius: '95%',
                    backgroundColor: '#F1F0F5',
                    borderWidth: 0,
                    shape: 'arc'
                }, { // Track for Stand
                    outerRadius: '95%',
                    innerRadius: '0%',
                    backgroundColor: "#FFFFFF",
                    borderWidth: 0,
                    shape: 'arc'
                }]
            }, {
                startAngle: -140,
                endAngle: 140,
                size: '100%',
                background: []
            }],
            credits: {
                enabled: false
            },
            yAxis: [{
                lineWidth: 0,
                tickLength: 0,
                tickWidth: 0,
                tickColor: 'black',
                tickPosition: 'inside',
                minorTickLength: 0,
                labels: {
                    distance: 5,
                    enabled: false,
                    x: 0,
                    y: 0,
                    format: '',
                    style: {
                        fontSize: 12,
                        fontFamily: "sans-serif"
                    }
                }

            }],
            title: {
                text: '',
            },

            plotOptions: {
                solidgauge: {
                    borderWidth: '13px',
                    dataLabels: {
                        enabled: false
                    },
                    linecap: 'round',
                    stickyTracking: false,
                }
            },

            series: [{
                name: 'Average',
                animation: false,
                borderColor: '#0B799C',
                data: [{
                    color: '#0B799C',
                    radius: '108%',
                    innerRadius: '108%',
                    y: 20
                }]
            },
            ]
        });
    </script>

</body>

</html>