{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Boxicons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- My CSS -->
  <link rel="stylesheet" href="{% static 'admin/css/style2.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"
    integrity="sha512-SGWgwwRA8xZgEoKiex3UubkSkV1zSE1BS6O4pXcaxcNtUlQsOmOmhVnDwIvqGRfEmuz83tIGL13cXMZn6upPyg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <title>Thermal Comfort</title>
</head>

<body>


  <!-- SIDEBAR -->
  <section id="sidebar" class="hide">
    <a href="{% url 'home' %}" class="brand">
      <img class="oi-icon"
        src="https://media-exp1.licdn.com/dms/image/C560BAQEAPjKix24H5A/company-logo_200_200/0/1574388135440?e=1672272000&v=beta&t=SBjMJWO6LihSvjdzM88Lvk15riwX8TkLhz_SNQhDWDw"
        alt="Operational Interlligence">
      <span class="text">Operational Intelligence</span>
    </a>
    <ul
      style="display: flex; flex-direction: column; align-content: flex-end; flex-wrap: nowrap; justify-content: center; align-items: center;">
      <li
        style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #FF7F7F; --selectionColorBG: #ff7f7f83;">
        <a href="{% url 'ems'%}" class='bx bxs-dashboard bx-md' title="Electric Meter Dashboard"
          style="margin-top: 5px;"></a>
      </li>
      <li class="active"
        style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #FFE493; --selectionColorBG: #FFE49383; ">
        <a href="{% url 'thermalComfort'%}" style="margin-top: 5px;" class='bx bxs-thermometer bx-md'
          title="Thermal Comfort"></a>
      </li>
      <li
        style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #D2EB99; --selectionColorBG: #D2EB9983; "
        title="Carpark">
        <a href="{% url 'carPark' %}" style="margin-top: 5px;" class='bx bxs-car-garage bx-md'></a>
      </li>
      <li
        style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #7EB6E0; --selectionColorBG: #7EB6E083; "
        title="EV Charging">
        <a href="{% url 'evCharging' %}" style="margin-top: 5px;" class='bx bxs-ev-station bx-md'></a>
      </li>
      <li
        style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #D7FEFF; --selectionColorBG: #D7FEFF83; "
        title="Weather Station">
        <a href="{% url 'weather' %}" style="margin-top: 5px;" class='bx bx-cloud-snow bx-md'></a>
      </li>
      <li
        style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #3C91E6; --selectionColorBG: #3C91E683; "
        title="EOTF">
        <a href="{% url 'eotf' %}" style="margin-top: 5px;" class='bx bx-notepad bx-md'></a>
      </li>

      <li
        style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #b2585e; --selectionColorBG: #b2585e83; "
        title="Traffic">
        <a href="{% url 'traffic' %}" style="margin-top: 5px;" class='bx bxs-traffic-barrier bx-md'></a>
      </li>
      <li
        style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #e6913c; --selectionColorBG: #e6913c83; "
        title="IBMS">
        <a href="https://obsi.sydney/Apps/IBMS/rtsystem.json?key=5227" target="_blank" style="margin-top: 5px;"
          class='bx bx-line-chart bx-md'></a>
      </li>
      <li
        style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #3ce691; --selectionColorBG: #3ce69183; "
        title="Card Holders">
        <a href="https://obsi.sydney/Apps/AccessCard/cardholders" target="_blank" style="margin-top: 5px;"
          class='bx bx-id-card bx-md'></a>
      </li>
      <li
        style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #e63c91; --selectionColorBG: #e63c9183; "
        title="Reports">
        <a href="https://obsi.sydney/Apps/CrystalReportsConnector/dashboard" target="_blank" style="margin-top: 5px;"
          class='bx bx-bar-chart-alt-2 bx-md'></a>
      </li>
    </ul>
  </section>
  <!-- SIDEBAR -->



  <!-- CONTENT -->
  <section id="content" style="background-color: white;">
    <!-- NAVBAR -->
    <nav style="height: 52px;">
      <a href="#" class="nav-link">Thermal Comfort</a>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main id="TCD">
      <div id="thermalComfortDashboard">
        <!-- Heading -->
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-end; align-content: center;">
          <div class="headings">
            <p>
              Thermal
            </p>
            <p>
              <span>
                Comfort
              </span>
              <span class="dashboard">
                Dashboard
              </span>
            </p>
          </div>
          <div>
            <div 
            style="color: #3B3462; font-family:sans-serif; font-size:30px; margin-right:6rem; 
            font-weight:550; text-shadow: 2px 4px 3px rgb(0 0 0 / 10%); display:flex; flex-direction:row; align-items:baseline;">
              <i class='bx bxs-chevrons-right bx-fade-right' style="padding:1rem"></i>
              <p id="selectTowerLevel">
                T1 - Level 00
              </p>
              <i class='bx bxs-chevrons-left bx-fade-left' style="padding:1rem;"></i>
            </div>
          </div>
        </div>
        <!-- Heading -->

        <!-- TCD Main Content -->
        <div class="thermalComfortContent">
          <div class="gaugeConinter">
            <div>
              <p>Percentage of Rooms<br>Below
                <input value="{{belowThresh}}" id="belowTempThresh" disabled></input>&deg;C
              </p>
              <div id="TCDgauge" class="belowButton">
                <div id="gaugecontainers1" style="width: 300px; height: 300px; margin: 0 auto">
                </div>
                <button id="center-circle" style="border:none;" class='btn gaugeBelowClick' data-toggle="modal"
                  data-target="#myModal" label='below'>
                  <span id="belowAvg" class="TCDgaugeValue">{{belowAvg}}%</span>
                </button>
                <div class="modal" id="myModal">
                  <div class="modal-dialog">
                    <div class="modal-content" style="min-width:35vw;border-radius:20px;padding:5px 5px;">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Equipment Temperature</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body" style="max-height:50vh; overflow-y:scroll; padding:0rem;">
                        <table class="table table-striped fix-head" id="table" style="margin-top: 0rem;">
                          <thead style="position: sticky; top: 0; z-index: 1; background-color:white;">
                            <tr>
                              <th>Equipment</th>
                              <th>Temperature</th>
                              <th>Time</th>
                            </tr>
                          </thead>
                          <tbody id='dialog-tbody'>
                            <tr>
                              <td> Please wait....</td>
                              <td> <i class="bx bx-loader-alt bx-spin"></i> </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div>
              <p>Percentage of Rooms<br>Above
                <input value="{{aboveThresh}}" id="aboveTempThresh" disabled></input>&deg;C
              </p>
              <div id="TCDgauge" class='aboveButton'>
                <div id="gaugecontainers2" style="width: 300px; height: 300px; margin: 0 auto">
                </div>
                <button id="center-circle" style="border:none;" class='btn gaugeAboveClick' data-toggle="modal"
                  data-target="#myModal" label='above'>
                  <span id="aboveAvg" class="TCDgaugeValue">{{aboveAvg}}%</span>
                </button>
              </div>
            </div>
            
          </div>
          <div>
            <div style="display: flex; align-content:right;" class="graphButtons">
              <button type="button" style="margin-left: auto;  margin-right:10px" class="clicked" value="daily">Today</button>
              <button type="button" value="weekly" style="margin-right:10px">Weekly</button>
              <button type="button" value="monthly" style="margin-right:10px">Monthly</button>
            </div>
            <canvas id="TDCgraph" style="height: 100px;">
            </canvas>
          </div>
        </div>


        <!-- TCD Main Content -->
      </div>
      <div id="thermalComfortSideBar">
        <div id="thermalComfortSideBarSelection">
          <div class="selectionContainer active">
            <div style="display:flex">
              <a class='bx' id="box1" href="{% url 'thermalComfort' %}" style="text-decoration: none;">
                <span>&deg;C</span>
              </a>
              <div style="margin-left:20px;" class="selectionLabel">
                Temperature
              </div>
            </div>
          </div>
          <div class="selectionContainer">
            <div style="display:flex">
              <a class='bx' id="box2" href="{% url 'thermalComfortHumidity' %}" style="text-decoration: none;">
                <span>%</span>
              </a>
              <div style="margin-left:20px;" class="selectionLabel">
                Humidity
              </div>
            </div>
          </div>
          <div class="selectionContainer">
            <div style="display:flex">
              <a class='bx' id="box3" href="{% url 'thermalComfortCo2' %}" style="text-decoration: none;">
                <span>CO2</span>
              </a>
              <div style="margin-left:20px;" class="selectionLabel">
                Carbon Dioxide
              </div>
            </div>
          </div>
        </div>
        <div id="thermalComfortSideBarDropDown">
          <p id="thermalComfortAll">Select Tower and Level</p>
          <div id="buttonContiner"
            style="display: flex;flex-direction: row;margin-bottom:0.8rem;align-items: center;justify-content: space-evenly;align-content: center;flex-wrap: wrap;">
            <button value="1" onclick="towerSelction(this.value)" class="activeButton" id="tower1Button">Tower
              1</button>
            <button value="2" onclick="towerSelction(this.value)" id="tower2Button">Tower 2</button>
            <button value="3" onclick="towerSelction(this.value)" id="tower3Button">Tower 3</button>
          </div>
          <div id="levelsContainer">
            <input type="text" list="searchList" id="searchLevels" placeholder="Search" class="search">
            <datalist id="searchList" autocomplete="on"> </datalist>
            <ul id="mainList">
              {% for t in THERMAL.tower1.levels %}
              <li tower="{{ 1 }}" level="{{t}}">T1 - Level {{t}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->



  <script>
    function zoom() { document.body.style.zoom = "90%" }
    var thermalTower = {{ THERMAL| safe}}
    var graphPoints = {{ graphPoints| safe}}
    var EquipPoints = {{ EQUIP| safe}}
    var currentGraph = "daily";
    selectedTowerAndLevel = "T1 - Level 00";
    document.getElementById("mainList").children[0].classList.add("active");
    $('.aboveButton').on("click", "button", function () {
      var table = $("#table tbody")
      $("#table tbody").find("tr").remove();
      for (var i = 0; i < EquipPoints[currentGraph]["above"].length; i++) {
        var Equip = EquipPoints[currentGraph]["above"][i].equip;
        var Temp = EquipPoints[currentGraph]["above"][i].temp;
        var Tim = EquipPoints[currentGraph]["above"][i].time;
        table.append("<tr><td>" + Equip + "</td><td>" + Temp + " &deg;C" + "</td><td>" + Tim + "</td></tr>")
      }
    });
    $('.belowButton').on("click", "button", function () {
      var table = $("#table tbody")
      $("#table tbody").find("tr").remove();
      for (var i = 0; i < EquipPoints[currentGraph]["below"].length; i++) {
        var Equip = EquipPoints[currentGraph]["below"][i].equip;
        var Temp = EquipPoints[currentGraph]["below"][i].temp;
        var Tim = EquipPoints[currentGraph]["below"][i].time;
        table.append("<tr><td>" + Equip + "</td><td>" + Temp + " &deg;C" + "</td><td>" + Tim + "</td></tr>")
      }
    });
    var ctx = document.getElementById('TDCgraph').getContext('2d');
    var chartConfig = {
      type: 'bar',
      data: {
        labels: graphPoints["daily"]["above"]["x"],
        datasets: [{
          label: "Above",
          data: graphPoints["daily"]["above"]["y"],
          backgroundColor: '#ec6f41d7',
          borderRadius: 5,
        },
        {
          label: "Below",
          data: graphPoints["daily"]["below"]["y"],
          backgroundColor: "#9b70ff",
          borderRadius: 5,
        }],

      },
      options: {
        plugins: {
          legend: {
            display: true,
            align: 'end',
            position: 'top',
          }
        },

        scales: {
          y: {
            grid: {
              display: false,
              drawBorder: true,
              drawTicks: true,
            },
            ticks: {
              display: true,
              callback: function (value, index, ticks) {
                return value + '%';
              }
            }
          },
          x: {
            type: 'category',
            grid: {
              display: false,
              drawBorder: true,
              drawTicks: true,
            },
          },
        },
        responsive: true,
      }
    };
    var Chart1 = new Chart(ctx, chartConfig);
    const gauge1 = Highcharts.chart('gaugecontainers1', {
      chart: { type: 'solidgauge', backgroundColor: '#FBFBFB', },
      tooltip: {
        borderWidth: 0,
        backgroundColor: 'none',
        shadow: false,
        style: { fontSize: '16px' },
        pointFormat: '{series.name}<br><span style="font-size:24px; color: {point.color}; font-weight: bold; text-align: center">{point.y} &deg;C</span>',
        positioner: function (labelWidth, labelHeight) {
          return {
            x: 152 - labelWidth / 2,
            y: 230
          };
        }
      },

      pane: [{
        startAngle: -140,
        endAngle: 140,
        background: [{ // Track for Move
          outerRadius: '85%',
          innerRadius: '70%',
          backgroundColor: '#F1F0F5',
          borderWidth: 0,
          shape: 'arc'
        }, { // Track for Stand
          outerRadius: '70%',
          innerRadius: '0%',
          backgroundColor: Highcharts.getOptions().colors[2],
          borderWidth: 0,
          shape: 'arc'
        }]
      }, {
        startAngle: -140,
        endAngle: 140,
        size: '100%',
        background: []
      }],
      credits: {
        enabled: false
      },
      yAxis: [{
        min: 0,
        max: 50,
        lineWidth: 0,
        tickLength: 0,
        tickWidth: 6,
        tickColor: 'black',
        tickPosition: 'inside',
        minorTickLength: 8,
        tickPositions: [0, 10, 20, 30, 40, 50],
        labels: {
          distance: 20,
          enabled: true,
          x: 0,
          y: 0,
          format: '{value} &deg;C',
          style: {
            fontSize: 12,
            fontFamily: "sans-serif"
          }
        }

      }],
      title: {
        text: '',
      },

      plotOptions: {
        solidgauge: {
          borderWidth: '14px',
          dataLabels: {
            enabled: false
          },
          linecap: 'round',
          stickyTracking: false,
        }
      },

      series: [{
        name: 'Average',
        animation: false,
        borderColor: '#6F32FF',
        data: [{
          color: '#6F32FF',
          radius: '80%',
          innerRadius: '80%',
          y: {{ belowTempAvg }}
        }]
      },
      ]
    });
    const gauge2 = Highcharts.chart('gaugecontainers2', {
      chart: {
        backgroundColor: '#FBFBFB',
        type: 'solidgauge'
      },
      tooltip: {
        borderWidth: 0,
        backgroundColor: 'none',
        shadow: false,
        style: {
          fontSize: '16px'
        },
        pointFormat: '{series.name}<br><span style="font-size:24px; color: {point.color}; font-weight: bold; text-align: center">{point.y} &deg;C</span>',
        positioner: function (labelWidth, labelHeight) {
          return {
            x: 152 - labelWidth / 2,
            y: 230
          };
        }
      },

      pane: [{
        startAngle: -140,
        endAngle: 140,
        background: [{ // Track for Move
          outerRadius: '85%',
          innerRadius: '70%',
          backgroundColor: '#F1F0F5',
          borderWidth: 0,
          shape: 'arc'
        }, { // Track for Stand
          outerRadius: '70%',
          innerRadius: '0%',
          backgroundColor: '#FBFBFB',
          borderWidth: 0,
          shape: 'arc'
        }]
      }, {
        startAngle: -140,
        endAngle: 140,
        size: '100%',
        background: []
      }],
      credits: { enabled: false },

      yAxis: [{
        min: 0,
        max: 50,
        lineWidth: 0,
        tickLength: 0,
        tickWidth: 6,
        tickColor: 'black',
        tickPosition: 'inside',
        minorTickLength: 8,
        tickPositions: [0, 10, 20, 30, 40, 50],
        labels: {
          distance: 20,
          enabled: true,
          x: 0,
          y: 0,
          format: '{value} &deg;C',
          style: {
            fontSize: 12,
            fontFamily: "sans-serif"
          }
        }

      }],
      title: {
        text: '',
      },
      plotOptions: {
        solidgauge: {
          borderWidth: '14px',
          dataLabels: {
            enabled: false
          },
          linecap: 'round',
          stickyTracking: false,
        }
      },

      series: [{
        name: 'Average',
        animation: false,
        borderColor: '#ec6f41d7',
        data: [{
          color: '#ec6f41d7',
          radius: '82%',
          innerRadius: '82%',
          y: {{ aboveTempAvg }},
        }]
      },
      ]
    });
    
    $('#mainList li').each(function (index, item) {
      var option = $('<option value="' + $(item).text().trim() + '">');
      $('#searchList').append(option);
    });

    function towerSelction(tower) {
      document.getElementById("tower1Button").classList.remove("activeButton")
      document.getElementById("tower2Button").classList.remove("activeButton")
      document.getElementById("tower3Button").classList.remove("activeButton")
      var ul = document.getElementById("mainList");
      var datalist = document.getElementById("searchList");
      $("#mainList").find("li").remove();
      $("#searchList").find("option").remove();

      if (tower == "1") {
        document.getElementById("tower1Button").classList.add("activeButton")
        for (let i = 0; i < thermalTower["tower1"]["levels"].length; i++) {
          var li = document.createElement("li");
          var option = document.createElement("option");
          li.innerText = "T1 - Level " + thermalTower["tower1"]["levels"][i];
          li.setAttribute("tower", "1");
          li.setAttribute("level", thermalTower["tower1"]["levels"][i]);
          ul.appendChild(li);

          option.setAttribute("value", "T1 - Level " + thermalTower["tower1"]["levels"][i])
          datalist.appendChild(option)

        }

      } else if (tower == "2") {
        document.getElementById("tower2Button").classList.add("activeButton")
        for (let i = 0; i < thermalTower["tower2"]["levels"].length; i++) {
          var li = document.createElement("li");
          var option = document.createElement("option");
          li.innerText = "T2 - Level " + thermalTower["tower2"]["levels"][i];
          li.setAttribute("tower", "2");
          li.setAttribute("level", thermalTower["tower2"]["levels"][i]);
          ul.appendChild(li)

          option.setAttribute("value", "T2 - Level " + thermalTower["tower1"]["levels"][i])
          datalist.appendChild(option)

        }
      } else if (tower == "3") {
        document.getElementById("tower3Button").classList.add("activeButton")
        for (let i = 0; i < thermalTower["tower3"]["levels"].length; i++) {
          var li = document.createElement("li");
          var option = document.createElement("option");
          li.innerText = "T3 - Level " + thermalTower["tower3"]["levels"][i];
          li.setAttribute("tower", "3");
          li.setAttribute("level", thermalTower["tower3"]["levels"][i]);
          ul.appendChild(li)

          option.setAttribute("value", "T3 - Level " + thermalTower["tower3"]["levels"][i])
          datalist.appendChild(option)

        }
      }
      $('li:contains('+selectedTowerAndLevel+')').addClass('active')

    };

    $("#mainList").on("click", "li", function () {
      $(this).parent().find('li').removeClass('active');
      $(this).addClass('active');
      tower = $(this).attr("tower")
      level = $(this).attr("level")
      selectedTowerAndLevel = "T"+tower+" - Level "+level;
      document.getElementById("selectTowerLevel").innerText = "T"+tower+" - Level "+level
      $.ajax({
        url: {% url 'thermalComfort' %},
        data: {
        tower: tower,
        level: level
      },
        method: 'GET',
        success: function (data) {
          document.getElementById("aboveAvg").innerHTML = data["aboveAvg"] + "%";
          document.getElementById("belowAvg").innerHTML = data["belowAvg"] + "%";
          document.getElementById("belowTempThresh").setAttribute("value", data["belowThresh"]);
          document.getElementById("aboveTempThresh").setAttribute("value", data["aboveThresh"]);
          graphPoints = data["graphPoints"];
          chartConfig["data"]["labels"] = graphPoints[currentGraph]["above"]["x"]
          chartConfig["data"]["datasets"][0]["data"] = graphPoints[currentGraph]["above"]["y"]
          chartConfig["data"]["datasets"][1]["data"] = graphPoints[currentGraph]["below"]["y"]
          Chart1.update("active");
        },
        })
     });

    $(".graphButtons").on("click", "button", function () {
      $(this).parent().find('button').removeClass('clicked');
      $(this).addClass('clicked');
      currentGraph = $(this).attr("value");
      chartConfig["data"]["labels"] = graphPoints[currentGraph]["above"]["x"]
      chartConfig["data"]["datasets"][0]["data"] = graphPoints[currentGraph]["above"]["y"]
      chartConfig["data"]["datasets"][1]["data"] = graphPoints[currentGraph]["below"]["y"]
      Chart1.update("active");
    })
    $(document).on('change', 'input', function() {
      var options = $('datalist')[0].options;
      var val = $(this).val();
      selectedTowerAndLevel = val
      for (var i = 0; i < options.length; i++) {
        if (options[i].value === val) {
          document.getElementById("selectTowerLevel").innerText = val;
          $('#mainList').scrollTop($('#mainList li:contains('+val+')').position().top - $('#mainList li:first').position().top);
          $('#mainList li').removeClass('active')
          $('li:contains('+val+')').addClass('active')
          const myArray = val.split(" ");
          level = myArray[myArray.length - 1];
          $.ajax({
            url: {% url 'thermalComfort' %},
            data: {level: level},
            method: 'GET',
            success: function (data) {
              document.getElementById("aboveAvg").innerHTML = data["aboveAvg"] + "%";
              document.getElementById("belowAvg").innerHTML = data["belowAvg"] + "%";
              document.getElementById("belowTempThresh").setAttribute("value", data["belowThresh"]);
              document.getElementById("aboveTempThresh").setAttribute("value", data["aboveThresh"]);
              graphPoints = data["graphPoints"];
              chartConfig["data"]["labels"] = graphPoints[currentGraph]["above"]["x"]
              chartConfig["data"]["datasets"][0]["data"] = graphPoints[currentGraph]["above"]["y"]
              chartConfig["data"]["datasets"][1]["data"] = graphPoints[currentGraph]["below"]["y"]
              Chart1.update("active");
            },
            })
        }
      }
    });
  </script>
</body>

</html>