{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/style2.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"
        integrity="sha512-SGWgwwRA8xZgEoKiex3UubkSkV1zSE1BS6O4pXcaxcNtUlQsOmOmhVnDwIvqGRfEmuz83tIGL13cXMZn6upPyg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Car Park</title>
</head>


<body onload="zoom()">


    <!-- SIDEBAR -->
    <section id="sidebar" class="hide">
        <a href="{% url 'home' %}" class="brand">
            <img class="oi-icon"
                src="https://media-exp1.licdn.com/dms/image/C560BAQEAPjKix24H5A/company-logo_200_200/0/1574388135440?e=1672272000&v=beta&t=SBjMJWO6LihSvjdzM88Lvk15riwX8TkLhz_SNQhDWDw"
                alt="Operational Interlligence">
            <span class="text">Operational Intelligence</span>
        </a>
        <ul class="a"
            style="display: flex; flex-direction: column; align-content: flex-end; flex-wrap: nowrap; justify-content: center; align-items: flex-end;">
            <li
                style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #FF7F7F; --selectionColorBG: #ff7f7f83;">
                <a href="{% url 'ems'%}" class='bx bxs-dashboard bx-md' title="Electric Meter Dashboard"
                    style="margin-top: 5px;"></a>
            </li>
            <li
                style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #FFE493; --selectionColorBG: #FFE49383; ">
                <a href="{% url 'thermalComfort'%}" style="margin-top: 5px;" class='bx bxs-thermometer bx-md'
                    title="Thermal Comfort"></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #D2EB99; --selectionColorBG: #D2EB9983; "
                title="Carpark">
                <a href="{% url 'carPark' %}" style="margin-top: 5px;" class='bx bxs-car-garage bx-md'></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #7EB6E0; --selectionColorBG: #7EB6E083; "
                title="EV Charging">
                <a href="{% url 'evCharging' %}" style="margin-top: 5px;" class='bx bxs-ev-station bx-md'></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #D7FEFF; --selectionColorBG: #D7FEFF83; "
                title="Weather Station">
                <a href="{% url 'weather' %}" style="margin-top: 5px;" class='bx bx-cloud-snow bx-md'></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #3C91E6; --selectionColorBG: #3C91E683; "
                title="EOTF">
                <a href="{% url 'eotf' %}" style="margin-top: 5px;" class='bx bx-notepad bx-md'></a>
            </li>

            <li class="active"
                style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #b2585e; --selectionColorBG: #b2585e83; "
                title="Traffic">
                <a href="{% url 'traffic' %}" style="margin-top: 5px;" class='bx bxs-traffic-barrier bx-md'></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #e6913c; --selectionColorBG: #e6913c83; "
                title="IBMS">
                <a href="https://obsi.sydney/Apps/IBMS/rtsystem.json?key=5227" style="margin-top: 5px;"
                    class='bx bx-line-chart bx-md'></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #3ce691; --selectionColorBG: #3ce69183; "
                title="Card Holders">
                <a href="https://obsi.sydney/Apps/AccessCard/cardholders" style="margin-top: 5px;"
                    class='bx bx-id-card bx-md'></a>
            </li>
            <li style="align-content:center;margin-top: 0.5rem;margin-bottom: 0.5rem;text-align: center;text-decoration: none; --selectionColor: #e63c91; --selectionColorBG: #e63c9183; "
                title="Reports">
                <a href="https://obsi.sydney/Apps/CrystalReportsConnector/dashboard" style="margin-top: 5px;"
                    class='bx bx-bar-chart-alt-2 bx-md'></a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content" style="background-color: rgb(255, 255, 255);">
        <!-- NAVBAR -->
        <nav style="height: 52px;">
            <a href="#" class="nav-link">Car Park</a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main id="CAR" style="padding: 36px 5px;">
            <div id="CarParkDashboard">
                <!-- Heading -->
                <div class="headings">
                    <p>
                        Traffic
                    </p>
                    <p>
                        <span class="dashboard">
                            Feed
                        </span>

                    </p>
                </div>
                <!-- Heading -->

                <!-- CarParkSummary content infinite scroll -->
                <div id="TrafficFeedContiner">
                    {% for inc in data%}
                    <div class="feedCard">
                        <div>
                            <p style="font-weight: 550;">{{inc.catagory}}</p>
                            <p>{{inc.description}}</p>
                            <p style="font-style: italic;">@ <span>{{inc.location}}</span>
                            </p>
                            <p>ETD: <span>{{inc.etd}}</span></p>
                            <p style="margin-top:0.5rem;">Details <span style="font-size: 1rem;">(Click me twice)</span>
                                <a type="button" data-bs-toggle="collapse" data-bs-target="#ID{{inc.id}}"
                                    aria-expanded="true" aria-controls="collapseExample" class='bx bxs-chevrons-down'
                                    style="text-decoration: none;" onclick="$(this).toggleClass('bx-rotate-180')"></a>
                            </p>
                            <div class="collapse" id="ID{{inc.id}}">
                                <div class="card card-body"
                                    style="display: flex;flex-direction: row;justify-content: space-between;align-content: center;align-items: center;">
                                    <div class="cardDetails">
                                        <p>Started at: <span>{{inc.started}}</span></p>
                                        <p>Last updated: <span>{{inc.updated}}</span></p>
                                        <p>Impacted Network: <span>{{inc.impact}}</span></p>
                                        <p>Is Major: <span>{{inc.major}}</span></p>
                                    </div>
                                    <div class="cardDetails2">
                                        <p>Headilnes: <span>{{inc.headlines}}</span></p>
                                        <p>Initial Report: <span>{{inc.initial}}</span></p>
                                        <p>Diversions: <span>{{inc.diversion}}</span></p>
                                        <p style="font-family: sans-serif; font-size:15px;">More
                                            Info: 
                                            {% if inc.weblinkI %}
                                            <a class='bx bx-link-alt bx-sm' href="{{inc.weblinkI}}" style="text-decoration: none;"></a>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="map" id="MAP{{inc.id}}" style="min-height: 9rem; align-self: stretch;">
                            <img src="https://img.icons8.com/officel/170/null/worldwide-location--v1.png" style="margin-left: auto; margin-right: auto; display: block;"/>
                        </div>
                    </div>

                    {% endfor %}
                </div>

            </div>

        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->


    <script>
        function zoom() { document.body.style.zoom = "90%" }


    

    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxeUfzQOXxerNiZdoW_81BSYyTNAqgAb8&callback=myMap"></script>
</body>

</html>